<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.points %></td>
        <td><%= team.members %></td>
        <td><%= button_to 'Join', @team, method: :join, form_class: "inline ", class: "btn-outline-info" %></td>
      </tr>
      <td><%= button_to 'Leave', @team, method: :leave, form_class: "inline ", class: "btn-outline-info" %></td>
      </tr>
        <td><%= button_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' }, form_class: "inline ", class: "btn-outline-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
