<div class="container">
<h1> <%= @team.name %> 
  <% if current_user.team_id == @team.id %>
    <%= link_to 'Edit', edit_team_path(@team), class: "btn btn-primary" %>
  <% end %>
  </h1>  
  <p class="lead">
    <%= @team.description %>
  </p>
  <p>
    <strong>Points:</strong>
    <%= @team.points %>
  </p>

  <p>
    <strong>Number of Members:</strong>
    <%= @team.users.count %>
  </p>
  <p>
    <strong>Members:</strong>
    <% @users.each do |user| %>
      <%= link_to user.username, user %> | 
  <% end %>
  </p>

</div>
