<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :email, class: "col-xs-2 col-form-label" %>
     <div class="col-xs-10">
    <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :username, class: "col-xs-2 col-form-label" %>
     <div class="col-xs-10">
    <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :image, class: "col-xs-2 col-form-label" %>
     <div class="col-xs-10">
    <%= f.file_field :image, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
  <%= f.label :team, class: "col-xs-2 col-form-label" %>
   <div class="col-xs-10">
   <%= f.collection_select(:team_id, Team.all, :id, :name, {}, {class: "form-control"}) %>
   </div>
  </div>
  <div class="form-group row">
    <%= f.label :birthdate, class: "col-xs-2 col-form-label" %>
     <div class="col-xs-10">
    <%= f.date_field :birthdate, class: "form-control" %>
    </div>
  </div>
    <div class="form-group row">
    <%= f.label :location, class: "col-xs-2 col-form-label" %>
     <div class="col-xs-10">
    <%= f.text_field :location, class: "form-control" %>
    </div>
  </div>
    <div class="form-group row">
    <%= f.label :bio, class: "col-xs-2 col-form-label" %>
     <div class="col-xs-10">
    <%= f.text_field :bio, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-secondary" %>
  </div>
<% end %>
