<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Points</th>
      <th>Team</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.points %></td>
        <td><%= user.team_id %></td>
        <td><%= user.admin ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        <% if !user.admin? %> <%= link_to("Make Admin", {:action => "make_admin", :id => user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post) %> <% end %>
        <% if user.admin? %> <%= link_to("Demote Admin", {:action => "demote_admin", :id => user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post) %> <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
<%= submit_tag "Search!" %>
<% end %>
