<h1>Listing Users</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Points</th>
      <th>Team</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="users_table">
    <%= render partial: 'users', locals: {users: @users}  %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
<%= submit_tag "Search!" %>
<% end %>
