<%#= link_to("Back", {:action => 'index'}) %>

<!--<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Team:</strong>
  <% if @user.team_id %>
  <%= @user.team_id %>
  <% else %> None <% end %>
</p>

<p>
  <strong>Achievements:</strong>
</p>-->

<!--<h1 class="card-title"><%= @user.username %></h1>-->
<div class="container">
<div class="card-deck-wrapper mt-2">
  <div class="card-deck">
   <div class="card">
    <div class="card-block">
    <div class="col-sm-2">
      <img src="<%= @user.image %>" style="width:100%">
    </div>
     <div class="col-sm-10">
        <div class="card-title"><span class="h1"><%= @user.username %></span>
            <% if @user == current_user %>
            <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
            <% end %>
        </div>
              <p class="card-text">Email: <%= @user.email %></p>
              <p class="card-text">Challenger Points: <%= @user.userscore %></p>
              <p class="card-text">Team: <% if @user.team_id %>
                <%= link_to @user.team.name, @user.team %>
                <% else %> None <% end %></p>
              <p class="card-text">Badges:
                <% @user.badges.each do |badge| %>
                <%= badge.name %> |
                <% end %>
              <!--<p class="card-text">Achievements:</p>-->
            </div>
          </div>
        </div>
      </div>
  </div>

<h2>My Submissions</h2>
<hr>
<%= render partial: "submissions/cards", locals: {submissions: @mysubmissions} %>

<h2>My Challenges</h2>
<hr>
<%= render partial: "challenges/cards", locals: {challenges: @mychallenges} %>

</div>
