<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Login', '/access/login' %>
<br>
<h3> Submissions: </h3>
<tbody>
  <thead>
    <tr>
      <th>Submitted By</th>
      <th>Score</th>
      <th>URL</th>
    </tr>
  </thead>
  <% @mysubmissions.each do |submission| %>
  <tr>
  <%= submission.url %>
  <%= submission.score %>
  <%= submission.user %>
  </tr>
  <% end %>
</tbody>
<h3> Challenges: </h3>
<tbody>
  <thead>
    <tr>
      <th>Challenge Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <% @mychallenges.each do |challenge| %>
  <tr>
  <%= challenge.name %>
  <%= challenge.score %>
  </tr>
  <% end %>
</tbody>
