<h1>
Down to Anything
</h1>
<h2>
Prepare to be challenged!
</h2>

<div>Success! Logged in as: <%= session[:username] %></div>
<dic> Team is: <%= @user.team.name if @user.team %></div>


<% if @user.admin %>
  <%= link_to("Users", :controller => 'users', :action => 'index') %><br />
<% end %>
<%= link_to("Challenges", :controller => 'challenges', :action => 'index') %><br />
<%= link_to("Submissions", :controller => 'submissions', :action => 'index') %>
<%= link_to("Teams", :controller => 'teams', :action => 'index') %>
