<div class="container">
  <div class="row">
    <h2>Prepare to meet your match!</h2>
  </div>
  <% if not user_signed_in? %>
  <div class="row">
        <a href="<%= new_user_registration_path %>"><button type="button" class="btn btn-secondary">Sign Up</button></a>
        <a href="<%= new_user_session_path %>"><button type="button" class="btn btn-secondary">Log In</button></a>
  </div>
  <% end %>
 <hr>
 <div class="row">
  <% if not @subs.blank? %>
  <h3>Top Submission </h3>
</div>
<div class="row">
  <div class="card-deck-wrapper mt-2">
    <div class="card-deck">
        <div class="card submission" data-url="<%= submission_path(@topsub)%>">
            <div class="card-block">
              <h5 class="card-title">Submission to: <small class="h6">
              <% if (@topsub.user_interactions.where(:interaction => "created").first.user == current_user) %>
                <p class="floatright"><%= link_to 'Edit', edit_challenge_submission_path(@challenge.id, @topsub.id) %></p>
              <% end%>
              </small></h5>
              <h3 class="card-title"><%= Challenge.find(@topsub.challenge_id).name %> Challenge </h3>
              <p class="card-text">By: <%= @topsub.user_interactions.where(:interaction => "created").first.user.username %></p>
              <p class="card-text"><a href="<%= @topsub.url %>"> <%=@topsub.url %></a></p>
              <h3 class="card-text">Score: <%= @topsub.score %></h3>
              <p class="card-text">
              </p>
              <p class="card-text"><small class="text-muted"><!-- TODO: submission uploaded --></small></p>
            </div>
        </div>
    </div>
    <% if not @comments.blank? %>
        <h4> Comments </h4>
        <% if @comments.each do |comment|  %>
        <hr>
        <p> <strong> <%= @users.find(comment.user_id).username %> | <%= comment.created_at %> </strong> </p>
        <p> <%= comment.body %> </p>
        <% end %>
    <% end %>
    <% end %>
  </div>
</div>
</div>
<% end %>

<script>
  $('.submission').click(function(){
    window.location.href = $(this).data('url');
  });
  $(".submission a").click(function(e) {
   //prevent going to view when click on link inside card
   e.stopPropagation();
})
</script>
