<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:submission, :user_id, User.all, :id, :username, {prompt: true}, {:required => true}) %>
  </div>
  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= collection_select(:submission, :challenge_id, Challenge.all, :id, :name, {prompt: true}, {:required => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
