<%= form_for([@challenge, @submission]) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Submission to challenge from:</strong> <%= @user.username %>
  </div>

 <!-- TODO: Temporary until handeld in backend -->
  <div class="field">
    <%= f.label "Submission Url" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Embed" %><br>
    <%= f.text_field :embed %>
  </div>
   <div class="field">
    <%= f.label "Duration" %><br>
    <%= f.text_field :duration %>
  </div>
   <div class="field">
    <%= f.label "Thumbnail" %><br>
    <%= f.text_field :thumbnail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
