<%= form_for([@challenge, @submission]) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Submission to challenge from:</strong> <%= @user.username %>
  </div>

 <!-- TODO: Temporary until handeld in backend -->
  <div class="form-group">
    <%= f.file_field :filedata %>
  </div>
  <div class="form-group">
    <%= f.label "Title" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label "Description" %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
   
  <%= f.submit class: "btn btn-secondary" %>
<% end %>
