<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @submission.user %>
</p>

<p>
  <strong>Score:</strong>
  <%= @submission.url %>
</p>

<p>
  <strong>Score:</strong>
  <%= @submission.score %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= Challenge.find(@submission.challenge_id).name %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
