<h1>
  <%= @submission.title %>
</h1>

<% if @submission.embed %>
  <iframe src="<%= @submission.embed %>" width="100%" height="500" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
<% end%>

<div class="card-deck-wrapper mt-2">
  <div class="card-deck">
      <div class="card" data-url="<%= challenge_submission_path(@challenge, @submission)%>">
          <div class="card-block">
            <h5 class="card-title">Submission to: <small class="h6">
            <% if (@submission.user_interactions.where(:interaction => "created").first.user == current_user) %>
              <p class="floatright"><%= link_to 'Edit', edit_challenge_submission_path(@challenge.id, @submission.id) %></p>
            <% end%>
            </small></h5>
            <h3 class="card-title"><%= Challenge.find(@submission.challenge_id).name %> Challenge </h3>
            <p class="card-text">By: <%= @submission.user_interactions.where(:interaction => "created").first.user.username %></p>
            <p class="card-text"><a href="<%= @submission.url %>"> <%=@submission.url %></a></p>
            <h3 class="card-text">Score: <%= @submission.score %></h3>
            <p class="card-text">
              <% if !@interaction || @interaction.interaction != "created" %>
                <% if !@interaction %>
                  <%= link_to("+1", {:action => 'upvote', :id => @submission.id, :st => 'none', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-primary') %> /
                  <%= link_to("-1", {:action => 'downvote', :id => @submission.id, :st => 'none', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-danger') %>
                <% else %>
                  <% case @interaction.interaction %>
                  <% when "neutral" %>
                    <%= link_to("+1", {:action => 'upvote', :id => @submission.id, :st => 'neither', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-primary') %> /
                    <%= link_to("-1", {:action => 'downvote', :id => @submission.id, :st => 'neither', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-danger') %>
                  <% when "liked" %>
                    <%= link_to("cancel", {:action => 'upvote', :id => @submission.id, :st => 'like', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-default') %> /
                    <%= link_to("-1", {:action => 'downvote', :id => @submission.id, :st => 'like', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-danger') %>
                  <% else %>
                    <%= link_to("+1", {:action => 'upvote', :id => @submission.id, :st => 'dislike', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-primary') %> /
                    <%= link_to("-cancel", {:action => 'downvote', :id => @submission.id, :st => 'dislike', :user => @user.id, :authenticity_token => form_authenticity_token()}, remote: true, method: :post, class: 'btn btn-standard') %>
                  <% end %>
                <% end %>
              <% end %>
            </p>
            <p class="card-text"><small class="text-muted"><!-- TODO: submission uploaded --></small></p>
          </div>
      </div>
  </div>
</div>
<h4> Comments </h4>
<% @comments.each do |comment|  %>
<hr>
<p> <strong> <%= @users.find(comment.user_id).username %> | <%= comment.created_at %> </strong> </p>
<p> <%= comment.body %> </p>
<% end %>
<h6> Add a comment!: </h6>
  <%= render "comments/form" %>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
