<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@submission.user).username %>
</p>

<p>
  <strong>Link:</strong>
  <a href="<%= @submission.url %>"> <%=@submission.url %></a>
</p>

<p>
  <strong>Score:</strong>
  <%= @submission.score %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= Challenge.find(@submission.challenge_id).name %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
