<div class="card-columns mt-2">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% @challenges.reverse.each do |challenge| %>
        <div class="card challenge mb-1" data-url="<%= challenge_path(challenge)%>">
          <div class="card-block">
            <div class="card-title">
              <span class="h2"><%= challenge.name %></span>
            </div>
            <span class="h6 ml-1">By: <%= challenge.us_chal_interactions.where(:interaction => "created").first.user.username %></span>
            <span class="h6 ml-1">Total score: <%= challenge.score%></span>
            <p class="card-text"><i><%= challenge.description %></i></p><br>
            <hr>
            <% @subs = challenge.submissions.sort_by { |sub| sub.score} %>
            <% if not @subs.blank? %>
              <% @subs = @subs.reverse %>
              <% @topsub = @subs[0] %>
                Top Submission: <%= @topsub.user_interactions.where(:interaction => "created").first.user.username %>
                Score: <%= @topsub.score %>
            <% else %>
              <p class="lead"> There are no submissions to this challenge yet! </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.challenge').click(function(){
    window.location.href = $(this).data('url');
  });
   $(".challenge a").click(function(e) {
   //prevent going to view when click on link inside card
   e.stopPropagation();
  });
</script>