<div class="row">
  <div class="col-xs-12">
    <div>
      <span class="h1">All Challenges <%= link_to 'Create Challenge', new_challenge_path, class: "btn btn-primary" %></span>
      <span class="float-xs-right">
            <%= form_tag(challenges_path, :method => "get", id: "search-form", class: "form-inline") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Challenges", class: "form-control" %>
            <%= submit_tag "Search!", class: "btn btn-secondary" %>
            <% end %>
      </span>
    </div>
  </div>
</div>

<% @topchallenges = @challenges.sort_by { |chall| chall.score} %>
<%= render partial: "cards", locals: {challenges: @topchallenges} %>
