<h1>Latest Challenges</h1>

<div class="card-deck-wrapper mt-2">
  <div class="card-deck">
  <% @challenges.each do |challenge| %>
      <div class="card challenge" data-url="<%= challenge_path(challenge)%>">
          <div class="card-block">
            <h3 class="card-title"><%= challenge.name %> </h3>
            <div class="floatright">
              <td><%= link_to 'Show', challenge %></td>
              <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
              <td><%= button_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
            <p class="card-text">By: <%= @users.find(challenge.user_id).username %></p>
            <% @subs = challenge.submissions.sort_by { |sub| sub.score} %>
            <% @topsub = @subs[0] %>
            <p class="card-text"><a href="<%= @topsub.url %>"> <%= @topsub.url %></a></p>
            <p class="card-text">Score: <%= @topsub.score %></p>
            <p class="card-text"><small class="text-muted"><!-- TODO: submission uploaded --></small></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Create Challenge', new_challenge_path %>

<%= form_tag(challenges_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Challenges" %>
<%= submit_tag "Search!" %>
<% end %>
