
<div><span class="h1">Latest Challenges <%= link_to 'Create Challenge', new_challenge_path, class: "btn btn-secondary" %></span></div>


<div class="card-deck-wrapper mt-2">
  <div class="card-deck">
  <% @topchallenges = @challenges.sort_by { |chall| chall.score} %>
  <% @topchallenges.each do |challenge| %>
      <div class="card challenge" data-url="<%= challenge_path(challenge)%>">
          <div class="card-block">
            <div class="card-title"><span class="h2"><%= challenge.name %></span>
              <span class="h6 ml-1">By: <%= challenge.user.username %></span>
              <span class="h6 ml-1">Total score: <%= challenge.score%></span>
            </div>
              <p class="card-text"><i><%= challenge.description %></i></p><br>
              <hr>
            <% @subs = challenge.submissions.sort_by { |sub| sub.score} %>
            <% if not @subs.blank? %>
              <% @topsub = @subs[0] %>
                Top Submission: <%= @topsub.user.username %>
                Score: <%= @topsub.score %>
            <% else %>
              <p class="lead"> There are no submissions to this challenge yet! </p>
            <% end %>
          </div>
          </div>
        </a>
      </div>
    <% end %>
    <div class="floatright">
      <%= form_tag(challenges_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Challenges" %>
      <%= submit_tag "Search!", class: "btn-outline-info" %>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-xs-12">

<% end %>
</div>
</div>

<script>
  $('.challenge').click(function(){
    window.location.href = $(this).data('url');
  });
</script>
