<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @challenge.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @challenge.score %>
</p>

<h3> Submissions: </h3>
<tbody>
  <thead>
    <tr>
      <th>Submitted By</th>
      <th>Score</th>
      <th>URL</th>
    </tr>
  </thead>
  <% @challsubmissions.each do |submission| %>
  <tr>
  <%= submission.url %>
  <%= submission.score %>
  <%= submission.user %>
  </tr>
  <% end %>
</tbody>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
