<h1>
    <%= @challenge.name %>
    <small class="text-muted h6">Created by <%= link_to @user.username, @user %></small>
    <small class="h6"><%= link_to 'Edit', edit_challenge_path(@challenge) %></small>
</h1>

<%= link_to 'New Submission', new_challenge_submission_path(@challenge) %>

<div class="card-deck-wrapper mt-2">
  <div class="card-deck">
  <% @challsubmissions.each do |submission| %>
      <div class="card submission" data-url="<%= challenge_submission_path(@challenge, submission)%>">
          <div class="card-block">
            <h4 class="card-title">Submission <small class="h6"><%= link_to 'Edit', edit_challenge_submission_path(@challenge.id, submission.id) %></small></h4>
            <p class="card-text">By: <%= submission.user.username %></p>
            <p class="card-text"><a href="<%= submission.url %>"> <%=submission.url %></a></p>
            <p class="card-text">Score: <%= submission.score %></p>
            <p class="card-text"><small class="text-muted"><!-- TODO: submission uploaded --></small></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.submission').click(function(){
    window.location.href = $(this).data('url');
  });
</script>

<%# " | " + link_to("+1", :action => 'upvote', :id => @challenge.id) %>