<!DOCTYPE html>
<html>
<head>
  <title>Down To Anything</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <meta name="google-signin-client_id" content="881367045605-3rp1s8s756hseuitp3fq032b6dfsp0tb.apps.googleusercontent.com">
</head>
<body>
<div class="container-fluid pr-0 pl-0">
  <nav class="navbar navbar-dark bg-inverse topnav">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag("logolong.png", size: "230x30") %></a>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <li class="nav-item">
            <a class="nav-item nav-link" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Account', edit_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Challenges", challenges_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item float-xs-right">
            <%= link_to "Logout", destroy_user_session_path, :class => 'nav-link'  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          </li>
        <% end %>
        <form class="form-inline float-xs-left ml-1" method="GET" action="/search/results">
          <input class="form-control" type="text" name="search" placeholder="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </ul>
    </nav>
    </div>
  </div>

<div class="container">
<% if notice %>
  <p class="alert alert-info" role="alert"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>
</div>

</body>
</html>
