<!DOCTYPE html>
<html>
<head>
  <title>Down To Anything</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <div class="nav navbar-nav">
      <a class="nav-item nav" href="/"><%= image_tag("logolong.png", size: "230x30") %></a>
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users">Profile</a>
      <a class="nav-item nav-link" href="/challenges">Challenges</a>
      <a class="nav-item nav-link" href="/access/logout">Logout</a>
    </div>
    <div class="floatright">
    <%= form_tag('/search/results/', :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search dta" %>
    <%= submit_tag "Search!" %>
    <% end %>
    </div>
  </nav>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
